body {
  background-color: #0093e9;
  /* height: 100vh; */
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.card {
  border: none;
  border-radius: 15px;
  /* height: 70vh; */
  box-shadow: 10px 10px 43px 0px rgba(0, 0, 0, 0.75);
}
.card:hover {
  box-shadow: 10px 10px 43px 25px rgba(0, 0, 0, 0.75);
  transition: all 0.4s ease;
}
.c-details span {
  font-weight: 300;
  font-size: 13px;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px;
  background-image: url('https://www.infosys.com/content/dam/infosys-web/en/global-resource/icons/favicon.ico');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.badge span {
  background-color: #fffbec;
  width: 60px;
  height: 25px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  color: #fed85d;
  justify-content: center;
  align-items: center;
}

.progress {
  height: 10px;
  border-radius: 10px;
}

.text1 {
  font-size: 14px;
  font-weight: 600;
}

.text2 {
  color: #a5aec0;
}
.quote {
  margin: 0;
  background: #eee;
  padding: 1em;
  border-radius: 1em;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}
